body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f5ef52; /* Amarelo código f5ef52 */
    color: #000; /* Cor do texto */
    padding: 20px;
    text-align: center;
}

header img {
    max-width: 100px; /* Largura máxima da imagem */
}

header h1 {
    margin-top: 10px; /* Espaçamento acima do título */
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    color: #000; /* Cor dos links */
    text-decoration: none;
}

main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

