@font-face {
    font-family: 'Antara Distance';
    src: url('images/aAntaraDistance.ttf') format('truetype');
}

@font-face {
    font-family: 'Coolvetica';
    src: url('images/coolvetica rg.otf') format('truetype');
}

body {
    font-family: Coolvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff; /* Fundo branco */
}

header {
    background-color: #f5ef52; /* Amarelo código f5ef52 */
    color: #000; /* Cor do texto */
    padding: 20px;
    text-align: center;
}

header img {
    max-width: 100px;
}

.antara-font {
    font-family: 'Antara Distance', sans-serif;
    font-size: 36px;
    margin-top: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    color: #000; /* Cor dos links */
    text-decoration: none;
}

main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
